body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0%;
  padding: 0%;
}
.container {
  max-width: 1158px;
  padding: 32px 0;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

/* -----------HEADER----------- */

.header-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.web-logo {
  color: #2e2f42;
}

.navigation-links {
  color: #2e2f42;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.navigation-links:hover,
.navigation-links:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  padding-top: 24px;
  gap: 40px;
}
.mail {
  padding-right: 40px;
}

.contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-list:hover,
.contacts-list:focus {
  color: #404bbf;
}

/* -----------HEADER----------- */

/* -----------FIRST SECTION ----------- */
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  max-height: 120px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 292px;
}

.first-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.first-btn:hover,
.first-btn:focus {
  background-color: #404bbf;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* -----------FIRST SECTION ----------- */

/* -----------SECOND SECTION ----------- */

.second-section-container {
}
.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list-item {
  width: calc((100% - 72px) / 4);
}
.features-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------SECOND SECTION ----------- */

/* -----------THIRD SECTION ----------- */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-header,
.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}

.our-team-list-item {
  background-color: #ffffff;
  font-weight: 500;
  font-style: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-image {
}

.our-team-list-header,
.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-team-list-header {
  padding-top: 32px;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-list-text,
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-team-list-text {
  text-align: center;
}
.surname {
  padding: 32px 0;
}
/* -----------THIRD SECTION ----------- */

/* -----------FOURTH SECTION ----------- */

.portfolio {
  padding: 120px;
}

.fourth-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-header {
  margin-bottom: 8px;
}
.portfolio-list {
  flex-wrap: wrap;
  display: flex;
  width: calc((100% -24) / 3);
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-image {
}
.portfolio-list-header {
}
.portfolio-list-text {
}

/* -----------FOURTH SECTION ----------- */

/* ---------FOOTER--------- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.studio-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/* ---------FOOTER--------- */
